@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap');

html, body{
    width: 100%;
    height: 100%;
    color: #111;
    // font-family: 'Gowun Batang', serif;
    font-family: 'Noto Sans KR', sans-serif;
    // font-family: 'Noto Serif KR', serif;

    background-image: url("../img/main_bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.inner{
    width: 1200px;
    margin: 0 auto;
}

i{
    display: inline-block;
    font-size: 12px;
    padding: 3px 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    font-style: normal;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);

    & + i{
        margin-left: 5px;
    }
}

header{
    padding: 130px 0;

    h1{
        font-size: 17px;
    }
}

.container{
    .box_wrapper{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        padding: 50px 0;
        border-top: 1px solid rgba(0, 0, 0, 0.1);

        .title{
            width: 30%;
            h2{
                margin-bottom: 10px;
                font-size: 20px;
                font-weight: 900;
            }
            .description{
                p{
                    margin-top: 10px;
                    font-size: 14px;
                    & + p{
                        margin-top: 5px;
                    }
                }
            }
        }

        .contents{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            width: 70%;

            h6{
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 10px 0;
                font-size: 14px;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);

                span{
                    margin-right: 10px;
                }

                &:last-of-type{
                    border-bottom: 0;
                }
            }

            p{
                font-size: 14px;
                & + p{
                    margin-top: 5px;
                }
            }
            .custom{
                width: 100%; 

                div{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%; 
                    gap: 10px;
    
                    img{
                        width: calc(33.33% - 6.7px);
                    }
                }

                &_old{
                    div{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: space-between;
                        gap: 10px;

                        div{
                            display: flex;
                            flex-direction: row;
                            flex-wrap: wrap;
                            align-items: center;
                            justify-content: space-between;
                            width: 100%; 
                            padding: 10px;
                            gap: 10px;
                            background-color: #000;
            
                            img{
                                width: calc(33.33% - 6.7px);
                            }  
                            p{
                                width: 100%;
                                padding: 10px 0;
                                color: #fff;
                                text-align: center;
                                font-size: 14px;
                                border-top: 1px solid rgba(255, 255, 255, 0.3);
                                border-bottom: 1px solid rgba(255, 255, 255, 0.3);
                            }
                        }
                    }
                }
            }
        }
    }

    &:last-of-type{
        .box_wrapper{
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        }
    }
}

.swiper {
    position: relative;
    width: 100%;
    overflow: hidden;

    &-slide {
        height: 300px;
        overflow: auto;

        a{
            height: auto;
        }
    }

    &-pagination{
        position: relative;
        display: flex;
        justify-content: center;
        margin-top: 10px;
        bottom: 0 !important;

        &-bullet{
            width: 5px;
            height: 5px;
            background: rgba(0, 0, 0, 0.1);
            opacity: 1;

            &-active{
                background: rgba(0, 0, 0, 0.7);
            }
        }
    }

    &-button-prev,
    &-button-next{
        top: calc(50% - 9px);
        transform: translateY(-50%);
        margin: 0 auto;
        width: 20px;
        height: 40px;
        background-color: rgba(255, 255, 255, 0.7);
        z-index: 2;

        &:hover{
            background-color: rgba(255, 255, 255, 1);
        }

        &::after{
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 80%;
            height: 100%;
            font-size: 0;
        }
    }

    &-button-prev{
        left: 0;
        &::after{
            background-image: url("../img/icon_arrow_left.png");
        }
    }
    &-button-next{
        right: 0;
        &::after{
            background-image: url("../img/icon_arrow_right.png");
        }
    }
}

footer{
    padding: 100px 0;
    color: rgba(0, 0, 0, 0.3);
    font-size: 12px;

    b{
        color: rgba(0, 0, 0, 0.7);
    }
}

@media screen and (max-width: 1250px){
    .inner {
        width: calc(100% - 20px);
        max-width: 1200px;
    }
    .swiper-pagination{
        flex-wrap: wrap;
        gap: 10px 0;
    }
}
@media screen and (max-width: 992px){
    .container{
        .box_wrapper{
            .contents{
                h6{
                    flex-wrap: wrap;
                    span{
                        display: block;
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 5px;
                    }
                }
            }
        }

        &:last-of-type{
            .box_wrapper{
               .title{
                margin-bottom: 0;
               } 
            }
        }
    }
}
@media screen and (max-width: 768px){
    header{
        padding: 70px 0;
    
        h1{
            span{
                display: block;
                width: 100%;
            }
        }
    }
    .container{
        .box_wrapper{
            flex-direction: column;
    
            .title,
            .contents{
                width: 100%;
            }
            .title{
                margin-bottom: 50px;
            }
        }

        &:last-of-type{
            .box_wrapper{
               .title{
                margin-bottom: 0;
               } 
            }
        }
    }
}
@media screen and (max-width: 576px){
    i{
        font-size: 10px;
        padding: 2px 7px;
    
        & + i{
            margin-left: 5px;
        }
    }
    header{
        padding: 10vh 0;
    
        h1{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: center;
            justify-content: flex-start;
            gap: 5px;

            span{
                display: block;
                width: 100%;
                font-size: 28px;
            }

            i{
                &+ i{
                    margin-left: 0;
                }
            }
        }
    }
    .container{
        .box_wrapper{
            padding: 5vh 0;
    
            .title{
                margin-bottom: 5vh;

                h2{
                    margin-bottom: 5px;
                    font-size: 20px;
                    font-weight: 900;
                }
                .description{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: flex-start;

                    p{
                        display: block;
                        width: 100%;
                        margin-top: 5px;
                        font-size: 12px;
                        & + p{
                            margin-top: 5px;
                        }
                    }
                }
            }
    
            .contents{
                h6{
                    span{
                        font-size: 12px;
                    }
                }

                p{
                    font-size: 12px;
                    & + p{
                        margin-top: 5px;
                    }
                }
                .custom{
                    &_old{
                        div{
                            gap: 10px;
    
                            div{
                                p{
                                    padding: 5px 0;
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    .swiper {
        &-slide {
            height: 250px;
        }
    
        &-pagination{
            gap: 5px 0;
            &-bullet{
                margin: 0 2px !important;
            }
        }

    }
}