@import url("https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Serif+KR:wght@200;300;400;500;600;700;900&display=swap");
.fullpage h1 {
  font-size: 80px;
  font-weight: 900;
  text-align: center;
}
.fullpage h2 {
  font-size: 40px;
  text-align: center;
}
.fullpage .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.fullpage .row h3 {
  font-size: 60px;
  font-weight: 500;
  text-align: center;
}
.fullpage .row h3 b {
  font-weight: 800;
}
.fullpage .column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.fullpage .column h5 {
  font-size: 40px;
  font-weight: 500;
  text-align: center;
}
.fullpage .column h5 b {
  font-weight: 800;
}
.fullpage .column h5 span {
  display: block;
  width: 100%;
  font-size: 30px;
}
.fullpage .fp-arrow.fp-prev {
  border-color: transparent rgba(0, 0, 0, 0.2) transparent transparent;
}
.fullpage .fp-arrow.fp-next {
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.2);
}
.fullpage .h100 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 90vh;
  overflow: hidden;
}
.fullpage .h100 > img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.fullpage .overview .swiper-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
.fullpage .overview .swiper-wrapper .swiper-slide {
  flex: 1;
  height: 30vh;
}
.fullpage .con7_verroll {
  position: relative;
  height: 500px;
  margin: 0 120px;
  overflow: hidden;
}
.fullpage .con7_verroll::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0px;
  width: 100%;
  height: 30%;
  background: linear-gradient(to bottom, #000 0%, transparent 100%);
  z-index: 2;
}
.fullpage .con7_verroll::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0px;
  width: 100%;
  height: 30%;
  background: linear-gradient(to top, #000 0%, transparent 100%);
  z-index: 1;
}
.fullpage .con7_verroll .swiper-wrapper {
  transition-timing-function: linear;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.fullpage .con7_verroll .swiper-slide {
  text-align: center;
  width: 100%;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
}

@media screen and (max-width: 900px) {
  .fullpage h1 {
    font-size: 45px;
  }
  .fullpage h2 {
    font-size: 30px;
  }
  .fullpage .row h3 {
    font-size: 30px;
  }
  .fullpage .column h5 {
    font-size: 30px;
  }
  .fullpage .column h5 span {
    font-size: 20px;
  }
  .fullpage .con7_verroll {
    height: 60vh;
    margin: 0 auto;
  }
  .fullpage .con7_verroll .swiper-slide {
    font-size: 14px;
  }
}
@media screen and (max-width: 768px) {
  .row {
    position: relative;
  }
  .row h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    font-size: 30px;
    background-color: rgba(255, 255, 255, 0.7);
  }
}
@media screen and (max-width: 500px) {
  .fullpage h1 {
    font-size: 35px;
  }
  .fullpage h2 {
    font-size: 20px;
  }
  .fullpage .row h3 {
    font-size: 20px;
  }
  .fullpage .column h5 {
    font-size: 20px;
  }
  .fullpage .column h5 span {
    font-size: 18px;
  }
  .fullpage .con7_verroll {
    height: 60vh;
    margin: 0 auto;
  }
  .fullpage .con7_verroll .swiper-slide {
    font-size: 14px;
  }
}
html, body {
  width: 100%;
  height: 100%;
  color: #111;
  font-family: "Noto Sans KR", sans-serif;
  background-image: url("../img/main_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}

.inner {
  width: 1200px;
  margin: 0 auto;
}

i {
  display: inline-block;
  font-size: 12px;
  padding: 3px 10px;
  background-color: #f1f1f1;
  border-radius: 5px;
  font-style: normal;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
}
i + i {
  margin-left: 5px;
}

header {
  padding: 130px 0;
}
header h1 {
  font-size: 17px;
}

.container .box_wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 50px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.container .box_wrapper .title {
  width: 30%;
  padding-right: 20px;
}
.container .box_wrapper .title h2 {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 900;
}
.container .box_wrapper .title .description p {
  margin-top: 10px;
  font-size: 14px;
}
.container .box_wrapper .title .description p + p {
  margin-top: 5px;
}
.container .box_wrapper .title .description p b {
  font-weight: 700;
  text-decoration: underline;
  text-underline-offset: 3px;
}
.container .box_wrapper .title .description p a {
  margin-left: 5px;
  color: red;
}
.container .box_wrapper .contents {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 70%;
}
.container .box_wrapper .contents h6 {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container .box_wrapper .contents h6 span {
  margin-right: 10px;
}
.container .box_wrapper .contents h6:last-of-type {
  border-bottom: 0;
}
.container .box_wrapper .contents p {
  font-size: 14px;
}
.container .box_wrapper .contents p + p {
  margin-top: 5px;
}
.container .box_wrapper .contents .custom {
  width: 100%;
}
.container .box_wrapper .contents .custom div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
.container .box_wrapper .contents .custom div img {
  width: calc(33.33% - 6.7px);
}
.container .box_wrapper .contents .custom_old div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.container .box_wrapper .contents .custom_old div div {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  gap: 10px;
  background-color: #000;
}
.container .box_wrapper .contents .custom_old div div img {
  width: calc(33.33% - 6.7px);
}
.container .box_wrapper .contents .custom_old div div p {
  width: 100%;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  font-size: 14px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.container:last-of-type .box_wrapper {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.swiper-slide {
  height: 300px;
  overflow: hidden;
}
.swiper-slide a {
  height: auto;
}
.swiper-pagination {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  bottom: 0 !important;
}
.swiper-pagination-bullet {
  width: 5px;
  height: 5px;
  background: rgba(0, 0, 0, 0.1);
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: rgba(0, 0, 0, 0.7);
}
.swiper-button-prev, .swiper-button-next {
  top: calc(50% - 9px);
  transform: translateY(-50%);
  margin: 0 auto;
  width: 20px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 2;
}
.swiper-button-prev:hover, .swiper-button-next:hover {
  background-color: rgb(255, 255, 255);
}
.swiper-button-prev::after, .swiper-button-next::after {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 80%;
  height: 100%;
  font-size: 0;
}
.swiper-button-prev {
  left: 0;
}
.swiper-button-prev::after {
  background-image: url("../img/icon_arrow_left.png");
}
.swiper-button-next {
  right: 0;
}
.swiper-button-next::after {
  background-image: url("../img/icon_arrow_right.png");
}

footer {
  padding: 100px 0;
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
footer b {
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 1250px) {
  .inner {
    width: calc(100% - 20px);
    max-width: 1200px;
  }
  .swiper-pagination {
    flex-wrap: wrap;
    gap: 10px 0;
  }
}
@media screen and (max-width: 992px) {
  .container .box_wrapper .contents h6 {
    flex-wrap: wrap;
  }
  .container .box_wrapper .contents h6 span {
    display: block;
    width: 100%;
    margin-right: 0;
    margin-bottom: 5px;
  }
  .container:last-of-type .box_wrapper .title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 768px) {
  header {
    padding: 70px 0;
  }
  header h1 span {
    display: block;
    width: 100%;
  }
  .container .box_wrapper {
    flex-direction: column;
  }
  .container .box_wrapper .title,
  .container .box_wrapper .contents {
    width: 100%;
  }
  .container .box_wrapper .title {
    margin-bottom: 50px;
  }
  .container:last-of-type .box_wrapper .title {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  i {
    font-size: 10px;
    padding: 2px 7px;
  }
  i + i {
    margin-left: 5px;
  }
  header {
    padding: 10vh 0;
  }
  header h1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    gap: 5px;
  }
  header h1 span {
    display: block;
    width: 100%;
    font-size: 28px;
  }
  header h1 i + i {
    margin-left: 0;
  }
  .container .box_wrapper {
    padding: 5vh 0;
  }
  .container .box_wrapper .title {
    margin-bottom: 5vh;
  }
  .container .box_wrapper .title h2 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 900;
  }
  .container .box_wrapper .title .description {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
  }
  .container .box_wrapper .title .description p {
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size: 12px;
  }
  .container .box_wrapper .title .description p + p {
    margin-top: 5px;
  }
  .container .box_wrapper .contents h6 span {
    font-size: 12px;
  }
  .container .box_wrapper .contents p {
    font-size: 12px;
  }
  .container .box_wrapper .contents p + p {
    margin-top: 5px;
  }
  .container .box_wrapper .contents .custom_old div {
    gap: 10px;
  }
  .container .box_wrapper .contents .custom_old div div p {
    padding: 5px 0;
    font-size: 12px;
  }
  .swiper-slide {
    height: 250px;
  }
  .swiper-pagination {
    gap: 5px 0;
  }
  .swiper-pagination-bullet {
    margin: 0 2px !important;
  }
}/*# sourceMappingURL=style.css.map */